.inertia.toml
.secrets
.kepler-secrets
.gradle/
.idea/
/out/
**.iml
/gradle/
/build/
/bin/
/cmake-build-debug/
.idea/workspace.xml
/*.jar

# ignore all *.class files in all folders, including build root
**/*.class
target/

# ignore all markdown files
*.md

gradlew
gradlew.bat
run.bat

/tools/db

config.ini
locale.ini
game.ini
server.ini
log4j.properties

Kepler-Server-all.jar

server.log
error.log
.env
